= render :partial => "/shared/content_page", :locals => {:show_submenu => false} 
/ 
  Event cache last updated:
  = Shovelpunks::Events.last_update
%ul#events
  - Shovelpunks::Events.upcoming.each do |event|
    %li.event
      %span.title
        = event.title
        = format_event_date event.start_date
      - unless event.logo.blank?
        %span.logo= image_tag event.logo
      %span.description= truncate(strip_tags(event.description), :length=>600)

