#body_content.clearfix
  #body_content_left.clearfix
    = @page[:body].html_safe
    - if @page[:spotlight_top]
      .spotlight.top
        = @page[:spotlight_top]
    - if @page[:spotlight_left]
      .spotlight.left
        = @page[:spotlight_left] 
    - if @page[:spotlight_right]
      .spotlight.right
        = @page[:spotlight_right] 

  #body_content_right.clearfix
    %h1 The Magnetic Theatre
    %p
      %a{:href=>'/pages/the-magnetic-theatre'} The Magnetic Theatre 
      in The Magnetic Field presents theatre, music, comedy, and spoken word evenings throughout the week.
    %h3 Upcoming Shows
    %ul.sidebar_events
      - Shovelpunks::Events.upcoming.each do |event|
        %li
          %a{:href=>"##{event.id}", :rel=>'facebox'} 
            %span.event_title= truncate(event.title, :length=>30)
            &raquo;
            %span.event_date= short_date event
          %span.description{:id=>event.id, :style=>'display:none'}
            = event.description
            %a{:href=>event.url, :title=>"Tickets for #{event.title}"} Buy Tix &rarr;
    %hr{:style=>'margin-top:30px'}
    - if @page[:side_body]
      .side_body= @page[:side_body] 

