- content_for :body_content_right do
  %h3 Upcoming Shows
  %ul.sidebar_events
    - Shovelpunks::Events.upcoming.each do |event|
      %li
        %a{:href=>"##{event.id}", :rel=>'facebox'} 
          %b= event.title
          &raquo;
          = short_date event
        %span.description{:id=>event.id, :style=>'display:none'}
          = event.description
          %a{:href=>event.url, :title=>"Tickets for #{event.title}"} Buy Tix &rarr;

    

= render :partial => "/shared/content_page", :locals => {:show_submenu => false} 
/ 
