!!! 5
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en"}
  %head
    %title= browser_title(yield(:title))
    = render :partial => 'shared/google_analytics' unless local_request?    

    %script{ :src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' }
    %script{ :src=>'/theme/javascripts/facebox.js' }
    %script{ :src=>'/theme/javascripts/site.js' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/theme/stylesheets/facebox.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/theme/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/theme/stylesheets/print.css', :media=>'print' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/theme/stylesheets/ie.css', :media=>'screen, projection' }

    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" } 
    %meta{ :name=>"googlebot", :content=>"index,follow"}
    %meta{ :name=>"msnbot", :content=>"index,follow"}
    %meta{ :name=>"slurp", :content=>"index,follow"}
    %meta{ :name=>"robots", :content=>"index,follow"}
    %meta{ :name=>"rating", :content=>"General"}
    %meta{ :name=>"distribution", :content=>"global"}
    %meta{ :name=>"language", :content=>"English"}
    %meta{ :name=>"revisit-after", :content=>"3 days"}
    %meta{ :name=>"copyright", :content=>"Copyright 2010, Magnetic Field"}
    %meta{ :name=>"identifier", :content=>"http://www.themagneticfield.com"}
    %meta{ :name=>"author", :content=>"The Magnetic Field"}
    %meta{ :name=>"developer", :content=>"Shovelpunks, Inc. http://shovelpunks.com"}

  - if @meta.meta_description.present? 
    %meta{ :name=>:description, :content=>@meta.meta_description }
  - if @meta.meta_keywords.present? 
    %meta{ :name=>:keywords, :content=>@meta.meta_keywords }

  %body.bp{body_attributes}
    = render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/
    #container
      = render :partial => "/layouts/site_bar" if logged_in?
      #header
        #logo
          =link_to image_tag('/theme/images/logo1.png'), '/'
        #menu
          %ul
            %li 
              %a{:href=>'/events'} Shows
            %li 
              %a{:href=>'/pages/cafe-bar'} Cafe &amp; Bar
            %li 
              %a{:href=>'/news'} News
            %li 
              %a{:href=>'/inquiries/new'} Contact Us
            %li
              %a{:href=>'/faq'} Directions &amp; FAQ
            %li
              %a{:href=>'/pages/about'} About Us
            %li.last
              %a{:href=>'/pages/the-magnetic-theatre'} The Magnetic Theatre
        - if RefinerySetting.find_or_set(:show_social_media, false)
          #social_media
            #facebook
              = link_to image_tag('/theme/images/facebook.png', :alt=>'Like us on Facebook'), "http://facebook.com/#{RefinerySetting.find_or_set(:facebook_page, false)}"
            #twitter
              = link_to image_tag('/theme/images/twitter.png', :alt=>'Follow us on Twitter'), "http://twitter.com/#{RefinerySetting.find_or_set(:twitter_id, false)}"

        
      #content 
        = yield

      #footer
        #links
          = link_to "Login", login_path
          \|
          = link_to "About Us", '/pages/about'
          \|
          = link_to "Contact", '/inquiries/new'        
          \|
          = link_to "Privacy Policy", '/pages/privacy-policy'        
  = render :partial => '/shared/google_analytics' unless local_request?
